*{
    margin: 0px;
    padding: 0px;
    /* color: white; */
}
html{
    scroll-behavior: smooth;
}
nav{
    background-color: black;
    height: 88px;
    position: sticky;
    top: 0px;
}
.mid{
    display: inline-block;
    width: 72%;
}
.left{
    /* border: 2px solid red; */
    float: left;
    width: 12%;
}
.left img{
    height: 76px;
    margin: 4px 60px;
    border: 2px solid white;
    border-radius: 38px;
}
.navlist{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}
.navlist li{
    padding: 23px 23px;
    margin: 0px 20px;
    font-size: 20px;
    list-style: none;
    
    /* text-decoration: none; */
}
.navlist li a{
    color: white;
    text-decoration: none;
}
.navlist li a:hover{
    color: #d4360e;
}
.right{
    float: right;
    width: 15%;
    /* border: 2px solid yellow; */
}
.right i{
    font-size: 20px;
    padding: 30px 8px;
    color: white;
}
.background{
    background: url('https://source.unsplash.com/1600x900/?food dish,fastfoods');
    background-size: cover;
    
}
.first{
    height: 100vh;
}
.boxmain{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: auto;
    height: 80%;
    color: white;
}
.info{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textbig{
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    /* color: #bb6336; */
}
.textsmall{
    font-size: 22px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    /* color: #a83316; */
}
.btn{
    padding: 12px 12px;
    margin: 8px 30px;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 12px;
    cursor: pointer;
}
.btn:hover{
    background-color: red;
}
.content h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 17px;
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    font-weight: bold;
}
.para1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.para1 img{
   border: 2px solid black;
   margin: 20px;
}
.noodl{
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    margin: auto;
    text-align: center;
    background-color: #fff3f3;
    font-size: 18px;
}
.noodl:hover{
    box-shadow: 5px 5px 10px 6px rgb(221, 205, 182);
}
.para2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.para2 img{
    border: 2px solid black;
    margin: 25px;
 }
 .biryani{
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    margin: auto;
    text-align: center;
    background-color: #fff3f3;
    font-size: 18px;
 }
 .biryani:hover{
    box-shadow: 5px 5px 10px 6px rgb(221, 205, 182);
}
.para3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.para3 img{
    border: 2px solid black;
    margin: 25px;
}
.sweets{
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    margin: auto;
    text-align: center;
    background-color: #fff3f3;
    font-size: 18px;
}
.sweets:hover{
    box-shadow: 5px 5px 10px 6px rgb(221, 205, 182);
}
.end{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    background-color: #2c3644;
}
.textfoter{
    font-size: 20px;
    color: #cac2c9;
}
